* {
    box-sizing: border-box;
    margin: auto;

}

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular-webfont.eot');
    src: url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto-regular-webfont.woff') format('woff'),
    url('../fonts/roboto-regular-webfont.ttf') format('truetype'),
    url('../fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: "robotoregular", Helvetica Neue, Helvetica, Arial, sans-serif;
    background-color: #DCDCDC


;
}

a {
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: none;
}
.background{
    background-image: url("image1/banner.jpg");
    height: 600px;
    max-width: 100%;
    
}

.first-menu.desktop {
    text-align: center;
}
.first-menu.desktop .container {
    display: flex;
}

.first-menu.desktop a{
    color: #fff;
    padding: 2rem;
    display: block;
    font-weight: 600;
}
.first-menu.desktop label{
    flex-grow: 1;
    text-align: left;
    padding: 0.9rem;
    padding-left: 0px;
    margin: 0px;
    color: white;
    font-size: 3rem;
}
.first-menu.desktop label a{
    padding: 0px;
}

.first-menu.desktop .item:hover {
    background: rgba(3, 60, 105, 0.47);
}

.first-menu.mobile {
    background: rgba(100, 149, 237, 0.9);
    color: #fff;
}

.first-menu.mobile a {
    color: #fff;
}

.first-menu.mobile a:hover{
    background: rgba(4, 74, 132, 0.9);
}

.first-menu.mobile label {
    margin-bottom: 0px;
    padding: 2rem;
}

.notice.mobile {
    background: #f2fcff;
    padding-bottom: 2rem;
}

.notice.mobile h3 {
    font-size: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 2rem;
    color: #333;
    font-weight: 600;
    text-align: center;
}

.notice.mobile a {
    display: block;
    text-align: center;
}

.notice.mobile span {
    text-transform: uppercase;
    padding: 1rem;
    color: white;
    font-weight: 600;
    background: #38ccff;
    border-radius: 3%;
}

.search-box p {
    background: rgba(185, 111, 48, 0.7);
    color: #ffffff;
    display: inline-block;
    padding: 1rem 1rem 1rem;
    margin-bottom: 0px;
    margin-top: 2rem;
    font-size: 1.6rem;
}

.search-box.desktop .col-sm-3, .col-sm-2 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.search-box .row {
    margin: 0px;
    padding-top: 38px;
    background: rgba(204, 195, 195, 0.88);
    margin-bottom: 2rem;
}
.search-box.mobile{
    background-image: url(bg-search-box.jpg);
}

.search-box select {
    padding: 1rem 2rem;
    width: 100%;
    margin-bottom: 1rem;
    background-color: white;
    border-radius: 5px;
    border-radius: 5px;
}

.search-box button {
    background: rgba(255, 227, 15, 0.94);
    width: 100%;
    padding: 1rem;
    color: black;
    border: none;
    margin-bottom: 1rem;
    border-radius: 5px;
}
.fa{
    color: rgb(100, 149, 237);
}
.fa-bars{
    color: #fff;
}
.notice.desktop {
    padding: 15px 0px;
    background: #FFFFFF;
}

.notice.desktop h3 {
    font-size: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: #333;
    font-weight: 600;
    text-align: center;
}

.notice.desktop p {
   line-height: 3rem;
    color: rgba(8, 8, 8, 0.61);
}

.notice.desktop a {
    padding: 1rem;
    color: white;
    font-weight: 600;
    
    border-radius: 3%;
}

.container.featured-cities.desktop {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.container.featured-cities.desktop .p1 {
    position: absolute;
    width: 93%;
    top: 53%;
    font-size: 3rem;
    color: white;
    text-align: center;
}

.container.featured-cities.desktop .p2 {
    position: absolute;
    width: 93%;
    top: 65%;
    font-size: 2rem;
    color: white;
    text-align: center;
}

.container.featured-cities.desktop .p2 span {
    border: 1px solid;
    padding: 1rem;
    background: rgba(158, 158, 158, 0.34);
}

.container.featured-cities.mobile {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.container.featured-cities.mobile .col-xs-12 {
    margin-bottom: 1rem;
}

.container.featured-cities.mobile .p1 {
    position: absolute;
    width: 91%;
    top: 27%;
    font-size: 3rem;
    color: white;
    text-align: center;
}

.container.featured-cities.mobile .p2 {
    position: absolute;
    width: 93%;
    top: 65%;
    font-size: 2rem;
    color: white;
    text-align: center;
}

.container.featured-cities.mobile span {
    border: 1px solid;
    padding: 1rem;
    background: rgba(158, 158, 158, 0.34);
}

.promotion {
    text-align: justify;
    background: #f2f2f2;
    margin-top: 2rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.promotion .row {
    margin-left: 0px;
    margin-right: 0px;
}

.promotion .col-sm-5 {
    border-right-style: ridge;
}

.promotion-benefit {
    font-size: 1.7rem;
}

.promotion .fa {
    padding-right: 1rem;
}

.footer {
    padding-top: 4rem;
    text-align: justify;
}

.footer a {
    text-transform: uppercase;
    padding: 1rem;
    font-weight: 600;
    display: inline-block;
}

.footer .col-sm-2 label {
    padding: 1rem;
    font-size: 1.5rem;
    color: #337ab7;
}

.footer .col-sm-2 p {
    padding: 1rem;
    font-size: 1.5rem;
}

.backtotop {
    position: fixed;
    width: 5%;
    bottom: 0px;
    right: 3%;
}

.backtotop img {
    width: 100%;
}

.modal-dialog {
    background: #f5f5f5;
    text-align: center;
    width: 30%;
    border-radius: 5px;
}

.sign-up {
    padding: 3rem 6rem;
}

.sign-up h2 {
    margin-top: 0px;
}

.sign-up .email, .password, .hoten, .sodienthoai, .submit {
    width: 100%;
    padding: 1rem;
    margin-bottom: 2rem;
    
}

.sign-up .checkbox {
    display: inline-block;
    margin-bottom: 2rem;
}

.sign-up-facebook {
    display: inline-block;
    width: 100%;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: #3B5998;
    color: white;
}

.sign-up .submit {
    color: white;
    background: #3d89ca;
    font-weight: 600;
}

.sign-in {
    padding: 3rem 6rem;
}

.sign-in h2 {
    margin-top: 0px;
}

.sign-in .email, .password, .hoten, .sodienthoai, .submit {
    width: 100%;
    padding: 1rem;
    margin-bottom: 2rem;
    
}

.sign-in .checkbox {
    display: inline-block;
    margin-bottom: 2rem;
}

.sign-in-facebook {
    display: inline-block;
    width: 100%;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: #3B5998;
    color: white;
}

.sign-in .submit {
    color: white;
    background: rgba(51, 122, 183, 0.88);
    font-weight: 600;
}

.mobile {
    display: none;
}

@media (max-width: 767px) {
    .first-menu {
        display: none;
    }

    .mobile {
        display: inherit;
    }

    .desktop {
        display: none;
    }

    .footer-center a {
        padding: 0px;
    }

    .backtotop {
        width: 10%;
    }

    .modal-dialog {
        width: inherit;
        margin-top: 8rem;
    }

    .sign-up {
        padding: 1rem 2rem;
    }

    .sign-in {
        padding: 1rem 2rem;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .container.featured-cities.desktop .p2 {
        position: absolute;
        width: 90%;
        top: 72%;
        font-size: 1.5rem;
        color: white;
        text-align: center;
    }
    .first-menu.desktop {
        font-size: 1rem;
    }
    .first-menu.desktop label{
        font-size: 2rem;
        padding: 1.2rem 0;
    }
    .search-box.desktop{
        font-size: 1rem;
    }
    .dangtin.desktop .search-box p {
        font-size: 1rem;
    }
    .dangtin.desktop .search-box {
        font-size: 1rem;
    }
    .modal-dialog {
        width: 50%;
    }
}

h1{
    text-align: center;
    color: #FFFFFF;
    font-weight: bold;
}

h3{
    text-align: center;
    font-weight: bold;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 30px;
}


@media not all, (-webkit-transform-3d)
bootstrap.min.css:5
.carousel-inner>.item.active, .carousel-inner>.item.next.left, .carousel-inner>.item.prev.right {
    left: 0;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    background-color: white;
    padding-bottom: 30px;
}

h2{
    text-align: center;
}

h5{
    text-align: center;
}

.sign-in-google {
    display: inline-block;
    width: 100%;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: rgba(214, 21, 21, 0.9);
    color: white;
}

.sign-up-google {
    display: inline-block;
    width: 100%;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: rgba(214, 21, 21, 0.9);
    color: white;
}

.dangtin-google {
    display: inline-block;
    width: 100%;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: rgba(214, 21, 21, 0.9);
    color: white;
}




.dangtin-facebook {
    display: inline-block;
    width: 100%;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: #3B5998;
    color: white;
}


.dangtin {
    padding: 3rem 6rem;
}

.dangtin h2 {
    margin-top: 0px;
}

.dangtin .email, .password, .hoten, .sodienthoai, .submit {
    width: 100%;
    padding: 1rem;
    margin-bottom: 2rem;
    
}

.dangtin .checkbox {
    display: inline-block;
    margin-bottom: 2rem;
}

.dangtin .submit {
    color: white;
    background: rgba(51, 122, 183, 0.88);
    font-weight: 600;
}

